/* CSS Reset
 * *********************************** */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

a,
a:visited {
    color: inherit;
}

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/* Element specific
 * *********************************** */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
}

img {
    border-style: none;
}

/*************************** CSS RULES ************************************ */

.Main{
    display: flex;
    width: 100%;
    padding: 0 20px 50px;
    flex-direction: column;
}

.Dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 420px;
}

.map{
    width: 70%;
    height: 70vh;
    margin: 50px auto;
}
.main-page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);
}

.current-location{
    width: 4.8rem;
}
.saved-location{
    width: 4.8rem;
    height: 4.8rem;
    background-color: blueviolet;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
}

.modal h1{
    color: #fff;
    font-size: 36px;
}
.mapboxgl-popup{
    top: -8px;
}
.mapboxgl-popup-content{
    padding: 5px 10px 5px;
}

/* navigation */
.nav{
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 100;
}
.nav-btn{
    position: absolute;
    top: 10px;
    right: 0;
    width: 44px;
    height: 40px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    backdrop-filter: brightness(0.7) blur(37px);
    z-index: 100;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.nav-btn-line{
    width: 34px;
    border-bottom: 3px solid rgba( 255, 255, 255, 0.18 );
}
.nav-btn-line:nth-of-type(2){
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-dropdown{
    position: absolute;
    height: 0;
    width: 282px;
    top: 60px;
    right: -1px;
    z-index: 100;
    backdrop-filter: brightness(0.7) blur(37px);
    border-radius: 4px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    transition: height .3s;
}
.nav-dropdown-show{
    height: 221px;
}
.nav-link{
    margin: 20px 0;
}
.nav-check-label{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    line-height: 1;
    color: whitesmoke;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-check-label:first-child{
    margin-top: 19px;
}
.nav-check-label-on{
    color: cyan;
}
.nav-check-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.nav-checkmark{
    position: relative;
    display: inline-block;
    height: 25px;
    width: 50px;
    border-radius: 15px;
    background-color: #eee;
    vertical-align: middle;
    box-shadow: inset 0 0 2px #000;
    overflow: hidden;
}
.nav-checkmark-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    box-shadow: inset 0 0 15px indianred;
    background-color: red;
    transition: all .5s;
}
.nav-checkmark-btn-on{
    left: 25px;
    background-color: green;
    box-shadow: inset 0 0 15px grey;
}

.btn{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: box-shadow .3s;
    cursor: pointer;
    display: block;
    width: 100%;
}
.btn-dash-input{
    background-color: #2f6ed3;
}
.btn:hover{
    box-shadow : 0 8px 32px 0 rgba( 35, 48, 235, 0.47 );
}
.btn-disabled{
    background-color: lightsteelblue;
    cursor: no-drop;
}

.Dashboard-card{
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 4px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px 50px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 50px;
    color: whitesmoke;
}
.Dashboard-input-group{
    margin-bottom: 20px;
}
.Dashboard-input{
    display: flex;
    flex-direction: column;
}
.Dashboard-input-item{
    padding: 5px 20px;
}
.Dashboard-locations-title{
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}
.Dashboard-item-title{
    cursor: pointer;
    color: inherit;
    transition: color .3s;
    margin-left: 15px;
}
.Dashboard-item-title:hover{
    color: darkslategray;
}
.Dashboard-location-item{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -20px;
}
.Dashboard-location-item-x{
    width: 22px;
    margin-top: 1px;
    padding: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color .3s;
}
.Dashboard-location-item-x:hover{
    background-color: whitesmoke;
}
.Dashboard-lngLtd{
    margin-bottom: 20px;
}

.Dashboard-directions-start{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.Dashboard-directions-end{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mapboxgl-popup {
    top: 0;
    left: 0;
}
.mapboxgl-popup-content {
    padding: 1px 5px 1px;
}
.mapbox-react{
    width: 100%;
    height: 50vh;
}
.marker{
    position: relative;
}
.marker-img{
    position: absolute;
    top: -35px;
    width: 35px;
    height: 35px;
}
.marker-title{
    background-color: burlywood;
    padding: 0 5px;
    transform: translate(0, -33px);
    border-radius: 3px;
    height: 24px;
}
.marker-title-place{
    position: absolute;
    white-space: nowrap;
    top: 7px;
    left: 18px;
}
.marker-title-place::after{
    content: "";
    width: 16px;
    height: 16px;
    background-color: burlywood;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: -6px;
    z-index: -1;
}
.marker-title-current{
    transform: translate(-113px, -38px);
}

.marker-title-current:after{
    content: "";
    width: 16px;
    height: 16px;
    background-color: burlywood;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    right: -6px;
    z-index: -1;
}
