/* CSS Reset
 * *********************************** */
*{
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
}

a,
a:visited {
    color: inherit;
}

article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

/* Element specific
 * *********************************** */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

img,
video {
    max-width: 100%;
}

img {
    border-style: none;
}

/*************************** CSS RULES ************************************ */
.map{
    width: 70%;
    height: 70vh;
    margin: 50px auto;
}
.main-page{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%);
}

.current-location{
    width: 4.8rem;
}
.saved-location{
    width: 4.8rem;
    height: 4.8rem;
    background-color: blueviolet;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    z-index: 100;
}

.modal h1{
    color: #fff;
    font-size: 36px;
}
.mapboxgl-popup{
    top: -8px;
}
.mapboxgl-popup-content{
    padding: 5px 10px 5px;
}

/* navigation */

.nav{
    display: flex;
}

.btn{
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem 2rem;
    transform: skewX(-12deg);
    border-radius: 13px 5px 13px 5px;
    color: #fff;
    font-weight: bold;
    transition: box-shadow .3s;
    cursor: pointer;
}

.btn:hover{
    box-shadow : 0 8px 32px 0 rgba( 35, 48, 235, 0.47 );
}

.my-locations{
    background: rgba( 255, 255, 255, 0.30 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 4px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}